{% extends 'base/base.html' %}
{% block content %}
        <h1>Learner's Details</h1>

        <div class="container">
            <div class="row justify-content-center">
                    <div class="card" style="width: 80rem;">
                      <div class="card-body">
                        <h5 class="card-title">{{ learner.first_name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ learner.last_name }}{{ ' - DOB: ' }}{{ learner.date_of_birth }}{{ ' - Grade  ' }}{{ learner.grade}}</h6>
                           <br>
                          <h5 class="card-subtitle mb-2"><strong>Current Paces</strong></h5>

                            <table class="table table-bordered table-hover">
                              <thead>
                                <tr>
                                  <th scope="col">Date Issued</th>
                                  <th scope="col">Subject</th>
                                  <th scope="col">Pace #</th>
                                </tr>
                              </thead>

                              <tbody>
                              {% for pace in paces %}
                                <tr>
                                  <th scope="row">{{ pace.date_issued }}</th>
                                  <td>{{ pace.subject}}</td>
                                  <td>{{ pace.pace_number }}</td>
                                </tr>
                              {% endfor %}
                              </tbody>
                            </table>
                        <br>
                        <a href="{% url 'edit' pk=learner.pk %}" class="card-link">Edit</a>
                        <a href="{% url 'delete' pk=learner.pk %}" class="card-link">Delete</a>
                      </div>
                    </div>
            </div>
        </div>

{% endblock %}